.stories {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	margin: auto;
}

.stories ul {
	list-style: inside square;
	padding: 0;
}

.stories ul li {
	padding: 10px 0;
}

.more {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px 0;
}

.more button {
	text-transform: uppercase;
}
